@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*VAR*/
:root {
    --black: #747c6c;
    --light-gray: #f6f6f6;
    --dark-gray: #333333;
    --gray: #e9e9e9;
    --blue: #001e36;
    --white: white;
    --orange: #f14a18;
    --white-shadow: rgba(255, 255, 255, 0.438);
}

/*END VAR*/

/*GENERAL*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: normal;
    color: var(--black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*FIN GENERAL*/

/*HEADER*/
header .info-header {
    background-color: var(--orange);
}

header .info-header p {
    color: var(--white);
    text-align: center;
    padding: .3rem;
    font-size: .8rem;
}

header .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

header .header-logo img {
    height: 4rem;
}

header .header-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
header .header-nav-bar.visible{
    opacity: 1;
}
header .header-nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray)
}

header .header-nav-bar ul li {
    padding: 1rem;
    margin: 0 .5rem;
}

header .header-nav-bar ul li a svg {
    height: 1.5rem;
}

/*END HEADER*/

/*HERO*/
.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#noticias {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
}

.noticia {
    flex: 0 0 100%;
    border-radius: .3rem;
}

.noticia img {
    height: 75vh;
    width: 100%;
    object-fit: cover;
    border-radius: .3rem .3rem 0 0;
}

.container-indicadores {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
}

#indicadores {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--white-shadow);
    padding: .3rem;
    border-radius: 1rem;
    background-color: 0.4;
}

.indicador {
    width: .55rem;
    height: .55rem;
    border-radius: 50%;
    background-color: var(--white-shadow);
    margin: 0 .3rem;
    cursor: pointer;
}

.activo {
    background-color: var(--blue);
}

/*END HERO*/

/*BANNER INFO*/
.banner-info {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 4rem 0;
}
.banner-info .container-info-elementos{
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}
.banner-info-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    padding: 0 2rem;
}

.banner-info-element-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    height: 6rem;
    width: 6rem;
    background-color: var(--blue);
    border-radius: 100%;
    margin-bottom: 1rem;
}

.banner-info .banner-info-element svg {
    fill: var(--white);
}

.banner-info .banner-info-element h3 {
    margin-bottom: 1rem;
}

.banner-info .banner-info-element p {
    text-align: center;
}

.banner-info .container-indicadores {
    width: 100%;
    margin-top: 5rem;
}

.container-indicadores .indicadores {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-info .container-indicadores .indicadores .indicador {
    height: .5rem;
    width: .5rem;
    background-color: var(--black);
    margin: .3rem;
}
.banner-info .container-indicadores .indicadores .indicador-activo {
    background-color: var(--blue);
}
/*END BANNER INFO*/

/*OFERTAS*/
.ofertas {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.ofertas h3 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.contenedor-productos {
    margin-top: 2rem;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.contenedor-productos .producto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 10rem;
    border-radius: 1rem;
    border: solid;
    border-width: 1px;
    border-color: var(--light-gray);
    overflow: hidden;
    margin-right: 1rem;
    cursor: pointer;
}

.contenedor-productos .producto .producto-img {
    height: 10rem;
    width: 100%;
    background-image: url("./resc/producto2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1rem;
}

.contenedor-productos .producto h4 {
    margin-top: 1rem;
    height: 2.9rem;
    overflow: hidden;
    padding: 0rem 1rem;
}

.contenedor-productos .producto span {
    background-color: var(--blue);
    color: var(--white);
    padding: .3rem;
    border-radius: .3rem;
    font-size: .7rem;
    margin: -3rem auto 0rem 1rem;
}

.contenedor-productos .producto p {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--blue);
    margin: auto 1rem;
}

.contenedor-productos .producto button {
    background-color: var(--orange);
    padding: .5rem;
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    margin: 1rem;
}

/*END OFERTAS*/

/*CATEGORIAS*/
.categoria {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.categoria h3 {
    font-weight: bold;
    text-align: center;
}

.categoria-img {
    height: 9rem;
    width: 9rem;
    background-image: url("./resc/producto.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*END CATEGORIAS*/

/*FOOTER*/
footer .footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
}
footer .footer-info img{
    height: 7.5rem;
    margin: 3rem auto 2rem auto;
}
footer .rrss{
    display: flex;
    margin-bottom: 3rem;
}
footer .rrss a{
    background-color: var(--blue);
    padding: .5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3rem;
}
footer .rrss a svg{
    height: 1.3rem;
    width: 1.3rem;
    fill: var(--light-gray);
}
footer .legales{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    padding: 3rem 0 5rem 0;
    background-color: var(--gray);
}
footer .legales p{
    text-align: center;
    margin-bottom: .5rem;
}
footer .legales img{
    height: 5rem;
    margin: 1rem auto;
}
footer .legales a{
    font-weight: bold;
}
footer .legales .btn_arrepentimiento{
    margin-top: .5rem;
    padding: .5rem;
    background-color: var(--black);
    border-radius: .5rem;
    color: var(--light-gray);
    font-weight: normal;
}
footer .credit{
    background-color: var(--dark-gray);
    padding: .3rem;
    width: 100%;
    font-size: .8rem;
    text-align: center;
}
footer .credit a{
    color: var(--black); 
}
/*END FOOTER*/


.oculto {
    display: none;
}
.divisor-secciones, .divisor-secciones-alt{
    height: .2rem;
    width: 100%;
    background-color: var(--light-gray);
}