@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*VAR*/
:root {
    --black: #747c6c;
    --light-gray: #f6f6f6;
    --dark-gray: #333333;
    --gray: #e9e9e9;
    --blue: #001e36;
    --white: white;
    --orange: #f14a18;
    --white-shadow: rgba(255, 255, 255, 0.438);
    --green: green;
}

/*END VAR*/

/*GENERAL*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: normal;
    color: var(--black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*FIN GENERAL*/

/*HEADER*/
header .info-header {
    background-color: var(--orange);
}

header .info-header p {
    color: var(--white);
    text-align: center;
    padding: .3rem;
    font-size: .7rem;
}

header .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

header .header-logo img {
    height: 4rem;
}

header .header-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

header .header-nav-bar.visible {
    opacity: 1;
}

header .header-nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray)
}

header .header-nav-bar ul li {
    padding: 1rem;
    margin: 0 .5rem;
}

header .header-nav-bar ul li svg {
    height: 1.5rem;
}

header .header-nav-bar ul li .submenu-items,header .header-nav-bar ul li .submenu-items-lupa {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--light-gray);
    border-top: solid;
    border-width: 1px;
    border-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    z-index: 999;
    box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
}


/*END HEADER*/



/*FOOTER*/
footer .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
}

footer .footer-info img {
    height: 9rem;
    margin: 3rem auto 2rem auto;
}

footer .rrss {
    display: flex;
    margin-bottom: 3rem;
}

footer .rrss a {
    background-color: var(--blue);
    padding: .5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3rem;
}

footer .rrss a svg {
    height: 1.3rem;
    width: 1.3rem;
    fill: var(--light-gray);
}

footer .legales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    padding: 3rem 0 5rem 0;
    background-color: var(--gray);
}

footer .legales p {
    text-align: center;
    margin-bottom: 1rem;
}

footer .legales img {
    height: 5rem;
    margin: 1rem auto 2rem auto;
}

footer .legales a {
    font-weight: bold;
}

footer .legales .btn_arrepentimiento {
    margin-top: 1rem;
    padding: .5rem;
    background-color: var(--black);
    border-radius: .5rem;
    color: var(--light-gray);
    font-weight: normal;
}

footer .credit {
    background-color: var(--dark-gray);
    padding: .3rem;
    width: 100%;
    font-size: .8rem;
    text-align: center;
}

footer .credit a {
    color: var(--black);
}

/*END FOOTER*/


.oculto {
    display: none;
}

.invisible {
    visibility: hidden;
}

.divisor-secciones,
.divisor-secciones-alt {
    height: .2rem;
    width: 100%;
    background-color: var(--light-gray);
}

.talk-to-me a {
    height: 4rem;
    width: 4rem;
    padding: .3rem;
    background-color: var(--green);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 999;
    opacity: .8;
}

.talk-to-me a svg {
    fill: var(--white);
    height: 2.5rem;
    width: 2.5rem;
}