header{
    box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 7px 12px -3px rgba(0, 0, 0, 0.3);
}
.producto-expandido{
    padding: 2rem;
}
.expand-contenedor-imagenes {
    height: 20rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
}

.imagen-carrousel {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.producto-expandido .contenedor-imagenes-indicadores {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#indicadores {
    display: flex;
    gap: 0.5rem;
}

.indicador {
    width: .55rem;
    height: .55rem;
    background-color: var(--gray);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .3rem;
}

.producto-expandido .contenedor-imagenes-indicadores .activo {
    background-color: var(--blue);
}
.producto-expandido .producto-tags{
    font-size: .8rem;
    margin-bottom: .5rem;
}
.producto-expandido h2{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.producto-expandido h3{
    font-weight: bold;
    color: var(--orange);
    margin-bottom: 1rem;
}
.producto-expandido p{
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: .8rem;
    margin-bottom: .3rem;
}
.producto-expandido .producto-off {
    font-size: .8rem;
    text-decoration: line-through;
}
.producto-expandido select{
    width: 100%;
    font-size: .8rem;
    padding: .3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    border-radius: .3rem;
}
.producto-expandido button{
    width: 100%;
    padding: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    border-radius: .3rem;
}
.producto-expandido h4{
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: .8rem;
    margin-bottom: .3rem;
}
.expand-descripcion{
    font-size: .8rem;
}

.all-productos .list-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
}
.all-productos .list-header h3{
   padding: .3rem;
}
.all-productos .list-header button{
    display: flex;
    padding: .5rem;
    background-color: var(--white);
    border: none;
    border: solid;
    border-color: var(--gray);
    border-width: 1px;
    border-radius: .3rem;
}
.all-productos .list-header button p{
    font-size: .8rem;
    text-transform: uppercase;
    margin-right: .5rem;
}
.all-productos .list-header button svg{
    height: .9rem;
}
.all-productos .list-header .filtros-aplicados{
   margin-top: .5rem;
   margin-left: .2rem;
}
.all-productos .list-header .filtros-aplicados button{
    font-size: .7rem;
    padding: .3rem;
    margin-top: .3rem;
 }
 .all-productos .list-header .filtros-aplicados button:hover{
   cursor: pointer;
   background-color: var(--gray);
 }
 .all-productos .list-header .filtros-aplicados button svg{
    width: .5rem;
    margin-left: .5rem;
 }
.all-productos .contenedor-productos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.all-productos .contenedor-productos .producto{
    margin: .6rem;
}